# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# Data files
*.npy
*.csv
*.jpg
*.png
*.mp4

# Logs
*.log

# Ignore environment files
.env

#Ignore the entire data file used for training
data/
*.csv
*.txt
*.jpg
*.png

#Ignore test.py
test.py